body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 35px white inset !important;
    -webkit-text-fill-color: hsl(235, 19%, 35%);
}

.hide {
  display: none !important;
}

header {
  background-image: url('../images/bg-mobile-light.jpg');
  width: 100%;
  padding: 2rem 1.5rem;
}

header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  letter-spacing: .5rem;
  text-transform: uppercase;
}

h1, header > div > button {
  margin-bottom: 2rem;
}

header > div > button > img {
  width: 26px;
  height: 26px;
}

#icon-sun {
  content: url('../images/icon-sun.svg');
}

form {
  flex: 1 100%;
}

form > label {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
}

label > input, .todo-description {
  padding: 21px 1rem 1rem 0;
  line-height: 1.5rem;
}

label > input {
  flex: 1;
}

label > input:focus {
  outline: none;
  border: none;
  background: hsl(0, 0%, 100%);
  color: hsl(235, 19%, 35%);
}

label > input:active {
  background: hsl(0, 0%, 100%);
}

.btn-update {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid hsl(236, 33%, 92%);
  border-radius: 50%;
  margin: 1rem;
  position: relative;
}

.btn-update.checked {
  background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.btn-update.checked::after {
  content: url('../images/icon-check.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  margin: -1rem 1.5rem 0 1.5rem;
}

main > div {
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}

.main-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#list-todos {
  flex: 1 100%;
}

#list-todos.empty {
  border: none;
}

.main-todos > span, .main-todos > button {
  color: hsl(236, 9%, 61%);
  padding: 1rem;
  flex: 2;
}

.list-item-todo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(236, 33%, 92%);
  color: hsl(235, 19%, 35%);
}

.todo-description.checked {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}

.btn-delete {
  margin: 1rem 1rem 1rem auto;
}

.icon-cross {
  cursor: pointer;
}

.icon-cross > path {
  fill: hsl(236, 9%, 61%);
}

#btn-clear {
  cursor: pointer;
  text-align: end;
}

#todos-filter {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  color: hsl(236, 9%, 61%);
}

#list-filters {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#list-filters > li {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

#list-filters > li.selected {
  color: hsl(220, 98%, 61%);
}

footer {
  margin: 2rem 0;
  text-align: center;
  color: hsl(236, 9%, 61%);
}

/* Dark Mode */
body.dark {
  background-color: hsl(235, 21%, 11%);
}

header.dark {
  background-image: url('../images/bg-mobile-dark.jpg');
}

header.dark label, header.dark input, header.dark input:focus, header.dark input:active {
  background-color: hsl(237, 14%, 26%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

header.dark input:-webkit-autofill,
header.dark input:-webkit-autofill:hover,
header.dark input:-webkit-autofill:focus,
header.dark input:-webkit-autofill:active {
  /* Solution for input autofill on google chrome. Keeps control of text color and background color */
  -webkit-box-shadow: 0 0 0 35px hsl(237, 14%, 26%) inset !important; 
  -webkit-text-fill-color: hsl(234, 39%, 85%);
}

header.dark .btn-update, main.dark .btn-update {
  border-color: hsl(233, 14%, 35%);
}

header.dark input::placeholder {
  color: hsl(234, 11%, 52%);
}

header.dark input:focus {
  color: hsl(234, 39%, 85%);
}

main.dark > div, main.dark .list-item-todo {
  background-color: hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
}

main.dark > .main-todos > span, main.dark > .main-todos > button, main.dark > #todos-filter, footer.dark {
  color: hsl(234, 11%, 52%);
}

main.dark > .main-todos > span, main.dark > .main-todos > button, main.dark .list-item-todo {
  border-color: hsl(233, 14%, 35%);
}

main.dark .todo-description.checked {
  color: hsl(233, 14%, 35%);
}

main.dark .icon-cross > path {
  fill: hsl(234, 11%, 52%);
}

@media (min-width: 376px) {
  header {
    background-image: url('../images/bg-desktop-light.jpg');
  }

  header.dark {
    background-image: url('../images/bg-desktop-dark.jpg')
  }
}

@media (min-width: 576px) {
  header {
    padding: 2rem 0;
  }
  header > div {
    width: 80%;
    margin: 0 auto;
  }

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  header {
    padding-top: 4rem
  }
  header > div, main {
    width: 70%;
  }
}

@media (min-width: 992px) {
  header > div, main {
    width: 55%;
  }

  #todos-filter.desktop {
    box-shadow: none;
    flex: 3;
  }

  main.dark #todos-filter.desktop {
    border-color: hsl(233, 14%, 35%);
  }

  #todos-filter.desktop > ul > li {
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  header > div, main {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  header {
    background-size: cover;
    height: 300px;
    padding-top: 5rem;
  }

  h1 {
    font-size: 2.25rem;
    letter-spacing: 1rem;
  }

  header > div, main {
    width: 38%;
  }

  h1, header > div > button {
    margin-bottom: 2.5rem;
  }

  main {
    margin-top: -3.5rem;
  }
}